body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  font-size: 16px;
  line-height: 0.875;
  letter-spacing: 2%;
}

.header-one {
  font-size: 56px;
  line-height: 1.0714;
  letter-spacing: 2%;
}

.header-two {
  font-size: 36px;
  letter-spacing: 2%;
}

.header-three {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2%;
}

.small-text {
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 4%;
}

.body-medium {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.button-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
}

.link-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 4%;
}

#section-one {
  color: #ffffff;
  background-color: #2e2f42;
}

#section-three {
  background-color: #f4f4fd;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
