body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

address {
  font-style: normal;
}

address > a:hover {
  color: #404bbf;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav a:hover {
  color: #404bbf;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.header-one {
  font-size: 56px;
  line-height: 1.0714;
  letter-spacing: 0.02em;
}

.header-two {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.header-three {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.body-medium {
  font-weight: 500;
}

.small-text {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.04em;
}

.button-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.link-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.color-navy {
  color: #2e2f42;
}

.color-white {
  color: #ffffff;
}

.color-iris {
  color: #4d5ae5;
}

.bgcolor-navy {
  background-color: #2e2f42;
}

.bgcolor-cloud {
  background-color: #f4f4fd;
}

.bgcolor-iris {
  background-color: #4d5ae5;
}
