/* general */
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
  color: #404bbf;
}

button {
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 0;
}

.section-centered {
  gap: 72px;
  text-align: center;
}

/* card-set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  list-style: none;
}

.card {
  flex-basis: calc((100% - 72px) / 4);
}

.card-content {
  padding: 32px 16px;
}

.card-content .title-three {
  margin-bottom: 8px;
}

.card-content p {
  margin: 0;
}

.card-content-no-spacing {
  padding: 0;
}

/* header */
header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 76px;
}

.header-right {
  display: flex;
  gap: 40px;
  font-style: normal;
  align-items: center;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
}

.menu-item {
  position: relative;
}

.menu-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #4d5ae5;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:hover::after,
.menu-item.active::after {
  width: 100%;
}

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 48px;
  padding: 188px 0;
}

.hero-btn {
  align-self: center;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.bg-hero {
  position: relative;
  background: url("../images/people-office.jpg") center/cover no-repeat;
}

.bg-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(46, 47, 66, 0.7);
  z-index: 0;
}

.bg-hero > * {
  position: relative;
  z-index: 1;
}

/* properties */
.properties h3 {
  padding-bottom: 8px;
}

/* team */
.team .card {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  list-style: none;
}

.social-icon {
  width: 40px;
  height: 40px;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
  --color1: #31d0aa;
}

/* portfolio */
.portfolio .card {
  flex-basis: calc((100% - 48px) / 3);
  border-bottom: 1px solid #e7e9fc;
  text-align: left;
}

.image-box {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #ffffff;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .image-overlay {
  transform: translateY(0);
}

/* footer */
.footer {
  padding: 100px 0;
}

.footer-content {
  display: flex;
  gap: 120px;
}

.footer-content .info {
  max-width: 264px;
}

.footer-content .social {
  max-width: 208px;
}

.footer-content .social-icon-list {
  gap: 16px;
  margin-top: 16px;
}

.footer-text {
  margin-top: 16px;
}

/* Typography */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.title-one {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.0714;
  letter-spacing: 0.02em;
}

.title-two {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.title-three {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.body-medium {
  font-weight: 500;
}

.button-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* Color */
.color-navy {
  color: #2e2f42;
}

.color-slate {
  color: #434455;
}

.color-white {
  color: #ffffff;
}

.color-iris {
  color: #4d5ae5;
}

/* Background */
.bgcolor-navy {
  background-color: #2e2f42;
}

.bgcolor-cloud {
  background-color: #f4f4fd;
}

.bgcolor-iris {
  background-color: #4d5ae5;
}
